/*Default styling*/
table.timetable {
    margin-top: 5px;
    width: 100%;
    font-size: 15px;
    font-family: "Open Sans";
    border: 1px solid;
    color: #000;
    border-collapse: collapse;
}
table.timetable .title{
    color: #000;
    background: #fff;
}
table.timetable tr:nth-child(even) {
    background: #ccddee;
    border: 1px solid;

}
table.timetable tr td{
    text-align: center;
    padding: 5px;
    border-width: thin;
    vertical-align: middle;
    border: 1px solid;
}
 table.timetable tr th{
    text-align: center;
    padding: 5px;
    border: 1px solid;
    font-weight: bold;
}
table.timetable tr td.jamah{
    font-weight: bold;
}
table.timetable tr:hover {
    color: orange;
}
table.timetable tr.today{
    padding:2;
    font-weight: bold;
    background-color: #eee;
    color: maroon;
    border-collapse: collapse;
}
table.timetable tr.today td{
    border: 2px solid orange;
}
/*No Border styling*/
table.noBorder {
    background: inherit;
    border-color: transparent;
}
table.noBorder tr td{
    /*border: 0px;*/
    background: inherit;
    border-color: transparent;
}
table.noBorder tr th{
    background: inherit;
    border-color: transparent;
}
/*Dark table styling*/
table.dark {
    color: #ffffff;
    background: #000;
}
table.dark tr:nth-child(even) {
    background: #303030;
}
table.dark .title{
    color: #fff;
    background: #000;
}

.center {
    margin: auto;
    width: 50%;
    height: 30px;
    border:3px solid #8AC007;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
div.donation {
    width: auto;
    color: #000000;
    background-color: #f1f1f1;
    padding: 15px;
    line-height: 1.15em;
    word-wrap: break-word;
    margin-bottom: 12px;
    margin-top: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
div.donation-text {
    margin-top: 20px;
    font-family: Consolas,"monospace";
    width: auto;
    background-color: #ffffff;
    padding: 1.1%;
    border-left: 4px solid #8AC007;
    word-wrap: break-word;
}
div.donation-link {
    margin-top: 20px;
    width: 25%;
    background-color: #0088cc;
    color: white;
    padding: 1.1%;
    border-left: 4px solid #8AC007;
    word-wrap: break-word;
    font-size: medium;
    text-align: center;
}
div.donation-link a{
    color: white;
}
div.donation-link a:hover{
    color: black;
}